<h1>(<%= @votes %>) <%= link_to @link.title, @link.url %> by <%= @link.user.name %></h1><br>
Content: <%= @link.body %><br><br>


<%= button_to "Upvote", action: :upvote %>
<%= button_to "Downvote", action: :downvote %>

<h2>Comments</h2>
<%= link_to "Comment on this link!", new_link_comment_url(params[:id]) %><br><br>

<ul>
  <% comments_by_parent = @link.comments_by_parent %>
  <% comments_by_parent[nil].each do |top_level_comments| %>
    <li>
      <%= comment_partial(top_level_comments, comments_by_parent) %>
    </li>
  <% end %>
</ul>