<h1>
  (<%= @sub.votes %>)
  <%= @sub.name %>
</h1>


<b>Description</b>
<p><%= @sub.description %></p>

<%= button_to "Upvote", upvote_sub_url(@sub) %>
<%= button_to "Downvote", downvote_sub_url(@sub) %>

<%= link_to "Make New Post!", new_post_url %>

<ul>
  <% @sub.posts.each do |post| %>
    <li>(<%= post.votes %>) <%= link_to post.title, post %></li>
  <% end %>
</ul>

<%= link_to "Edit", edit_sub_url(@sub) if @sub.moderator == current_user %>
